        <header class="p-2 bg-body-primary border-bottom">
            <div class="container-lg">
                <nav class="navbar navbar-expand-lg bg-body-transparent">
                    <div class="container-fluid d-flex justify-content-between align-items-center">

                        <a class="navbar-brand" href="/"> <img class="navbar-logo" src="/assets/images/logos/UPBC_FullColor-H-FondoClaro.png" alt="logo upbc"> </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <div class="me-auto">

                                <ul class="navbar-nav d-flex flex-wrap ustify-content-between">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/universidad/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Universidad</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/universidad/historia/">Historia</a></li>
                                            <li><a class="dropdown-item" href="/universidad/mision-vision/">Mision y Vision</a></li>
                                            <li><a class="dropdown-item" href="/universidad/directorio/">Directorio</a></li>
                                            <li><a class="dropdown-item" href="/universidad/instalaciones/">Instalaciones</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/oferta-educativa/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Oferta Educativa</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/oferta-educativa/carreras/">Carreras</a></li>
                                            <li><a class="dropdown-item" href="/oferta-educativa/posgrados/">Posgrado</a></li>
                                            <li><a class="dropdown-item" href="/oferta-educativa/educacion-continua/">Educación Continua</a></li>
                                            <li><a class="dropdown-item" href="/oferta-educativa/modalidades-especiales/">Modalidad Especial</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/admisiones/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admisiones</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/admisiones/requisitos/">Requisitos</a></li>
                                            <li><a class="dropdown-item" href="/admisiones/proceso-inscripcion/">Proceso de Inscripcion</a></li>
                                            <li><a class="dropdown-item" href="/admisiones/calendario/">Calendario Escolar</a></li>
                                            <li><a class="dropdown-item" href="/admisiones/costos/">Costos</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/vida-universitaria/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vida Universitaria</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/vida-universitaria/vida-estudiantil/">Vida Estudiantil</a></li>
                                            <li><a class="dropdown-item" href="/vida-universitaria/convivencia-equidad">Convivencia y Equidad</a></li>
                                            <li><a class="dropdown-item" href="/vida-universitaria/eventos-especiales/">Eventos Especiales</a></li>
                                            <li><a class="dropdown-item" href="/vida-universitaria/bienestar-salud">Bienestar y Salud</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/servicios/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/servicios/biblioteca/">Biblioteca</a></li>
                                            <li><a class="dropdown-item" href="/servicios/laboratorios/">Laboratorios</a></li>
                                            <li><a class="dropdown-item" href="/servicios/servicios-escolares/">Servicios Escolares</a></li>
                                            <li><a class="dropdown-item" href="/servicios/becas/">Becas</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/contacto/">Contacto</a>
                                    </li>
                                </ul>

                            </div>

                            <form class="d-flex" role="search"> 
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Buscar..." aria-label="Buscar">
                                    
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form> 
                            
                        </div>

                    </div>
                </nav>
            </div>
        </header>