<!-- contenedor footer -->
    <div class="container-lg">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            
            <div class="col mb-3">
                <h5 class="text-purple">UPBC</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="/"><img src="/assets/images/logos/UPBC_Logotipo_Oficial_Escudo.png" alt="Escudo UPBC" width="25%"></a>
                    </li>
                    <li class="nav-item mb-2"><p>Universidad Politécnica de Baja California - Formando profesionales de excelencia desde 2006.</p></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5 class="text-purple">Enlaces útiles</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#">Directorio</a></li>
                    <li class="nav-item mb-2"><a href="#">Aviso de privacidad</a></li>
                    <li class="nav-item mb-2"><a href="#">Términos y condiciones</a></li>
                    <li class="nav-item mb-2"><a href="#">Preguntas frecuentes</a></li>
                    <li class="nav-item mb-2"><a href="#">Mapa del sitio</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5 class="text-purple">Contacto</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><p>Av Claridad, Plutarco Elías Calles, 21376 Mexicali, B.C.</p></li>
                    <li class="nav-item mb-2"><p>(686) 104-2727</p></li>
                    <li class="nav-item mb-2"><p>contacto@upbc.edu.mx</p></li>
                    <li class="nav-item mb-2"><p>Lun - Vie: 8:00 AM - 5:00 PM</p></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5 class="text-purple">Síguenos</h5>
                <ul class="nav flex-row">
                    <li><a href="https://www.facebook.com/UPBCUNIVERSIDAD" target="_blank" aria-label="Facebook"><i class="bi bi-facebook btn-purple"></i></a></li>
                    <li><a href="https://www.instagram.com/upbcuniversidad/" target="_blank" aria-label="Instagram"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCCROxBHIXoVourok76BnXNA" target="_blank" aria-label="YouTube"><i class="bi bi-youtube"></i></a></li>
                    <li><a href="https://twitter.com/upbcuniversidad" target="_blank" aria-label="Twitter"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="https://siax.upbc.edu.mx" target="_blank" aria-label="SIAX"><i class="bi bi-mortarboard-fill"></i></a></li>
                </ul>

            </div>

        </footer>
    </div>