/* Botón de Inscripción */
.upbc-inscribete-btn {
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      padding: 12px 24px;
      border-radius: 8px;
      transition: all 0.3s ease;
      background-color: #ffc107;
      color: #602b82 !important;
      text-transform: uppercase;
      font-size: 14px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      text-decoration: none;
}
    
.upbc-inscribete-btn i {
  margin-right: 12px;
  background-color: white;
  color: #602b82;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: transform 0.3s ease;
}
    
.upbc-inscribete-btn:hover {
  background-color: #ffcd38;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  color: #602b82 !important;
}

.upbc-inscribete-btn:hover i {
  transform: rotate(90deg);
}
@media (max-width: 768px) {
  .upbc-inscribete-btn {
    font-size: 12px;
    padding: 10px 18px;
  }
  
  .upbc-inscribete-btn i {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
  
  .servicios-carousel .servicio-card {
    padding: 25px 15px;
  }
}