{% extends 'layouts/base.njk' %}
{% block content %}
    <main>
        <section class="container my-5">
            <div class="row">
                <div class="col mb-3">

                    <div class="progress" role="progressbar" style="height: 40px;">
                        <div class="progress-bar bg-info" style="width: {{ collections.siteStats.progreso }}%">{{ collections.siteStats.progreso }}%</div>
                    </div>

                    <div class="mt-3" style="max-height: 450px; overflow-y: auto;">
                        
                        <h4>Generado</h4>
                        <div class="list-group">
                        {% for p in collections.siteStats.paginasConLayout %}
                        {% set ubi = p%}
                        <a href="{{ ubi.url }}" class="list-group-item list-group-item-action{% if ubi.url == page.url %} active{% endif %}">{{ ubi.url }}</a>
                        {% endfor %}
                    </div>

                    <h4>Construyendo</h4>
                    <div class="list-group">
                        {% for c in collections.siteStats.paginasSinLayout %}
                        {% set ubi = c %}
                        <a href="{{ ubi.url }}" class="list-group-item list-group-item-action{% if ubi.url == page.url %} active{% endif %}">{{ ubi.url }}</a>
                        {% endfor %}
                    </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>
{% endblock %}