/* Estilos para los títulos de sección con imágenes */

.section-title-image {
  display: block;
  margin-bottom: 20px;
  max-width: 300px;
  height: 80px;
  width: auto;
}

.carrera-section-title-container {
  margin-bottom: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .section-title-image {
    height: 70px;
    max-width: 250px;
  }
}

@media (max-width: 576px) {
  .section-title-image {
    height: 60px;
    max-width: 200px;
  }
}
